# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
ENV/

# Database
*.db

# IDE settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Flask specific files
instance/
.env
